.burger-btn {
    width: 50px;
    height: 30px;
    margin: 20px;
    position: relative;
    background-color: none;
    cursor: pointer;
  }
  
  .burger-btn::before {
    content: '';
    position: absolute;
    top: 0;
    width: 50px;
    background-color: black;
    height: 2px;
  }
  
  .burger-btn span {
    position: absolute;
    top: 12.5px;
    width: 50px;
    background-color: black;
    height: 3px;
  }
  
  .burger-btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 50px;
    background-color: black;
    height: 3px;
  }
